html {
    font-size: 14px;
}

body {
    background-image: url('../images/lost_art_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: linear-gradient(45deg, #b92b27, #1565C0) ;
    min-height: 100vh;
    font-size: remsize(14);
    overflow-x: hidden;
    @media( min-width: 768px ) {
        font-size: remsize(16);
    }
}

.header {
    padding: 5vmin 1rem;
    flex: 1 0 100%;

    .title, .subtitle {
        text-align: center;
    }

    title {
        font-size: calc(22px + (32 - 22) * ((100vw - 300px) / (1600 - 300)));
    }
}

.page-content {
    max-width: 780px;
    margin: 0 15px;
    width: auto;
    padding-bottom: 30px;
    @media (min-width: 620px) {
        margin: 0 40px;
    }

    @media (min-width: 992px) {
        margin: 0 auto;
        width: 100%;
        padding-bottom: 80px;
    }
}

.field.is-grouped.is-grouped-centered {
    @media (max-width: 568px) {
        flex-direction: column;
    }
}

.is-margin-centered {
    margin: 0 auto;
}

@function remsize( $size: 12, $rem: 16, $unit: rem ){
    @return #{($size/$rem)}#{$unit};
}