.page {
    background: #fff;
    font-family: serif;
    padding: 8%;
    margin: 0 0 20px;
    width: 860px;
    min-height: 600px;
}

.book__pagination {
    margin-bottom: 0 !important;

    a[disabled] {
        pointer-events: none;
    }
}