.home {

    &__cta {
        margin-bottom: 40px;
    }
}

.book__cover {
    @media ( min-width: 768px ){
        width: 50vmin;
    }
    
    position: relative;
    margin: 0 auto;
    > img {
        object-fit: cover;
    }
}

header h1.title {
    color: #ffe867;
}

input.input::placeholder { color: #444; }
input.input::-moz-placeholder { color: #444; }
input.input::-webkit-input-placeholder { color: #444; }
input.input:-ms-input-placeholder { color: #444; }