---
layout: default
---

<div class="page">
    {{ content }}
</div>

<div class="book__pagination columns is-mobile">
        {% capture previousurl %} {{ page.previous.url }} {% endcapture %}
        {% capture nexturl %} {{ page.next.url }} {% endcapture %}
    <div class="column">
        <a class="button is-fullwidth" href="{{ previousurl | escape_once }}" {% unless page.previous.url %} disabled {% endunless %}>&laquo; Previous page </a>
    </div>
    <div class="column">
        <a class="button is-fullwidth" href="{{ nexturl | escape_once }}" {% unless page.next.url %} disabled {% endunless %}>Next page &raquo;</a>
    </div>
</div>
<div class="footer__link">
    <p class="has-text-white has-text-centered is-size-5">Tired of clicking? <a href="#" class="has-text-white">Buy The Lost Art of Relationship on Amazon Here</a></p>
</div>