---
layout: default
---

<div class="navigation">
    <p>Jump to section</p>
    <div class="select">
        <select id="chapter__select">
            <option value="" disabled selected>Choose a section</option>
            {% for page in site.posts reversed %}
                {% if page.ischapter %}
                    <option value="{{ page.url }}">{{ page.title }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
</div>

<div class="page">
    {{ content }}
</div>

<div class="book__pagination columns is-mobile">
        {% capture previousurl %} {{ page.previous.url }} {% endcapture %}
        {% capture nexturl %} {{ page.next.url }} {% endcapture %}
    <div class="column">
        <a class="button is-fullwidth" href="{{ previousurl | escape_once }}" {% unless page.previous.url %} disabled {% endunless %}>&laquo; Previous page </a>
    </div>
    <div class="column">
        <a class="button is-fullwidth" href="{{ nexturl | escape_once }}" {% unless page.next.url %} disabled {% endunless %}>Next page &raquo;</a>
    </div>
</div>
<div class="footer__link">
    <p class="has-text-white has-text-centered is-size-5">Tired of clicking? <a href="https://www.amazon.com/Lost-Art-Relationship-Journey-Commandment-ebook/dp/B07HXXTN2C" class="has-text-white" target="_blank">Buy The Lost Art of Relationship on Amazon Here</a></p>
</div>