<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
        {{ content }}
    </main>

  
    <script src="{{ "/dist/js/app.js" | relative_url }}"></script>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'EB+Garamond:400,400i,600,600i,700,700i|Libre+Baskerville' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })(); </script>
  </body>

</html>